// Colours
$orange: #d44401;
$blue: #2a3478;
$lightBlue: #2a3478;
$darkBlue: #2a3478;
$purple: #9296b7;
$lightGrey: #f3f4f7;
$grey: #9c9c9c;
$darkGrey: #6c7589;
$inputText: #727785;
$white: #fefefe;
$black: #000000;
$red: #d52d2d;
$lightBlueUnsafe: #9bcaed;
$darkerGrey: #121424;
$darkTheme: #131417;

// Sizes
$tileWidth: 255px;
$tilePadding: 8px;
$sidebarWidth: 250px;
